
.quill-editor {
    height: 40rem;
}
.ql-toolbar.ql-snow {
    padding: 1rem;
    background-color: #e4ddeb;
    text-align: left;
}
.ql-toolbar.ql-snow .ql-formats {
    margin-top: 5px;
    margin-bottom: 5px;
}
.ql-container {
    height: calc(100% - 58px);
}
